
@import url('https://fonts.cdnfonts.com/css/valorant');

:root {
    --bg-color: #32333d;
    --bg-color-sug: #282931;
    --bg-color-img: #111823;
    --txt-color: #b8b6b8;
    --txt-color-sug: #c6c5c6;
    --txt-color-pri: #ffffff;

    --valorant-1: #FD4556;
    --valorant-2: #BD3944;
    --valorant-3: #53212B;
    --valorant-4: #FFFBF5;
    --valorant-5: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'VALORANT', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-image: url('../img/VALORANT_Logo_V.jpg');
    background-size: cover;
    background-position: 0;
}

.header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1), rgba(0,0,0,0));
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home-icon img {
    width: 2rem;
}

.home-title {
    margin: 0 1rem;
    color: var(--txt-color-sug);
}

.home-title h5 {
    font-size: 1.5rem;
    font-weight: 200;
}

.navbar {
    display: flex;
    align-self: center;
}

.navbar a {
    color: var(--txt-color-sug);
    text-decoration: none;
    margin-left: 3rem;
}

.navbar a:hover {
    color: var(--valorant-2);
}